.top{
  margin-top:10px;

  .image{
    border-radius: 20px;
    border:2px solid #fff;
  }

  .content{
    .button{
      padding: 10px;
      color: #fff;
      background-color: #84d584;
      border-radius: 5px;
    }
  }
}

.mid{
  .name{
    display: inline-block;
  }
  span{
    font-size: 16px;
    font-style: italic;
  }
  .words{
    .div{
      text-align: center;
      border: 1px solid #ccc;
      padding-top: 10px;
      background-color: #f2e4e45e;
      border-radius:10px;

      p{
        color: #000;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }

  ul>li:not(.active)>a{
    background-color: #fff;
    font-weight: 400;
  }
}

