<div class="row d-flex justify-content-center mt-5 login">
  <div class="col-md-4 login-form-1">
    <img src="assets/images/tho1.png" alt="" width="70px" class="text-center">
    <h3>Đăng nhập</h3>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Nhập email *" value="" />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Nhập mật khẩu *" value="" />
    </div>
    <div class="form-group">
      <input type="submit" class="btnSubmit" value="Đăng nhập" />
    </div>
    <div class="form-group">
      <a href="#" class="btnForgetPwd">Quên mật khẩu?</a>
    </div>

  </div>
  <div class="login-logo align-content-center">
    <img src="assets/images/anhbonen.png" alt="" />
  </div>
  <div class="col-md-4 login-form-2">
    <img src="assets/images/soi1.png" alt="" width="70px" class="text-center">
    <h3>Đăng kí</h3>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Your Email *" value="" />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Your Password *" value="" />
    </div>
    <div class="form-group">
      <input type="submit" class="btnSubmit" value="Login" />
    </div>
    <div class="form-group">

      <a href="#" class="btnForgetPwd" value="Login">Forget Password?</a>
    </div>
  </div>
</div>
