<div class="row d-flex justify-content-center mt-5 login">
  <div class="col-md-4 login-form-1 text-center">
    <img src="assets/images/tho1.png" alt="" width="70px">
    <h3>Đăng nhập</h3>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Nhập email *" value="" />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Nhập mật khẩu *" value="" />
    </div>
    <div class="form-group">
      <input type="submit" class="btnSubmit" value="Đăng nhập" />
    </div>
    <div class="form-group">
      <a href="#" class="btnForgetPwd">Quên mật khẩu?</a>
    </div>

  </div>
  <!-- <div class="login-logo align-content-center">
    <img src="assets/images/anhbonen.png" alt="" />
  </div> -->
  <div class="col-md-4 login-form-2 text-center">
    <img src="assets/images/soi1.png" alt="" width="70px">
    <h3>Đăng kí</h3>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Nhập email *" value="" />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Nhập mật khẩu *" value="" />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Nhập lại mật khẩu *" value="" />
    </div>
    <div class="form-group">
      <input type="submit" class="btnSubmit" value="Đăng kí" />
    </div>
  </div>
</div>
