<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="text-center d-lg-none w-100">
    <button class="navbar-toggler dropdown-toggle" data-target="#navbar-second" data-toggle="collapse" type="button">
      <i class="icon-menu7 mr-2"></i> </button></div>
  <div class="navbar-collapse collapse p-0" id="navbar-second">
    <a class="navbar-nav-link" href="javascript:;" [ngClass]="{'active show': openTab === 1}" (click)="openTab = 1">
      <i class="icon-magazine mr-2"></i>
      Cơ bản </a>
  </div>
</div>

<div class="tab-content w-100 overflow-auto">
  <div class="tab-pane fade mt-2" [ngClass]="{'active show': openTab === 1}">
    <form class="form-horizontal" [formGroup]="myForm" novalidate>
      <div class="card">
        <div class="card-body">
          <!-- Content area -->
          <fieldset>
            <legend class="font-weight-semibold text-uppercase font-size-sm"> Phim {{name}}
            </legend>
            <div class="row">
              <div class="form-group col-md-7">
                <label>Câu hỏi <span class="text-danger"><b> *</b></span> </label>
                <input-text class="form-control" formControlName="textquestion" [placeholder]="'Nhập tên phim'">
                </input-text>
                <render-error [data]="myForm.get('textquestion')"></render-error>
              </div>
              <div class="form-group col-md-5">
                <label> file câu hỏi <span class="text-danger"> * </span></label>
                <input type="file" (change)="upload($event, 'audioquestion')" multiple="multiple">
                <render-error [data]="myForm.get('audioquestion')"></render-error>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-7">
                <label>Câu trả lời <span class="text-danger"><b> *</b></span> </label>
                <input-text class="form-control" formControlName="textanswer" [placeholder]="'Nhập tên phim'">
                </input-text>
                <render-error [data]="myForm.get('textanswer')"></render-error>
              </div>
              <div class="form-group col-md-5">
                <label> file câu trả lời <span class="text-danger"> * </span></label>
                <input type="file" (change)="upload($event, 'audioanswer')" multiple="multiple">
                <render-error [data]="myForm.get('audioanswer')"></render-error>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-4">
                <label>Tên phim <span class="text-danger"><b> *</b></span> </label>
                <input-select class="form-control" formControlName="categoryfilmid" [items]="listfilm"
                  [placeholder]="'Lựa chọn'">
                </input-select>
                <render-error [data]="myForm.get('categoryfilmid')"></render-error>
              </div>
              <div class="form-group col-md-4 control-inline" formGroupName="dataDb" *ngIf="!isView">
                <label>Hiển thị</label>
                <input-switch class="control-content" formControlName="status"></input-switch>
              </div>
            </div>
          </fieldset>
          <!-- /content area -->
          <div class="text-right mt-4">
            <button class="btn btn-primary mr-3" [disabled]="isLoading" (click)="submit(true)" [hidden]="isView">
              <i nz-icon="" nztype="close-circle" class="anticon anticon-close-circle mr-1"
                ng-reflect-nz-type="close-circle"></i>
              {{isLoading ? 'Đang tải...':'Lưu đóng'}} </button>
            <button class="btn btn-primary" [disabled]="isLoading" (click)="submit(false)" [hidden]="isView"><i
                class="anticon mr-1 anticon-plus-circle" nz-icon="" nztheme="outline" nztype="plus-circle"
                ng-reflect-nz-type="plus-circle" ng-reflect-nz-theme="outline"></i>
              {{isLoading ? 'Đang tải...':'Lưu thêm'}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
