<div class="page-header border-bottom-0">
  <div class="page-header-content header-elements-md-inline">
    <div class="page-title d-flex">
      <h4><span class="font-weight-semibold">Danh sách {{name}}</span></h4>
    </div>

    <div class="header-elements">
      <button type="button" class="btn btn-primary" (click)="openModal()"><i class="mr-2" nz-icon nzType="plus-circle"
          nzTheme="outline"></i>Thêm</button>
      <button type="button" class="btn btn-danger" [disabled]="exTableService.getitemSelected(listOfData).length===0"
        (click)="deleteChoices()"><i class="mr-2" nz-icon nzType="file-excel" nzTheme="outline"></i>
        Xóa </button>
    </div>
  </div>
</div>

<div class="content pt-0">
  <div class="header-elements-inline">
    <div class="navbar-expand-md w-100">
      <div class="padding-left-15 text-right d-md-none w-100 row">
        <button class="navbar-toggler" data-target="#search-list" data-toggle="collapse" type="button">
          <i nz-icon nzType="menu" nzTheme="outline"></i>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="search-list">
        <form *ngIf="myForm" [formGroup]="myForm" class="w-100" (ngSubmit)="getData()" novalidate>
          <div class="row ">
            <div class="col-md-3 form-group">
              <input-text-search class="form-control" placeholder="Nhập từ khóa tìm kiếm" formControlName="searchText"
                (onClear)="getData()">
              </input-text-search>
            </div>
            <div class="col-md-2 form-group">
              <input-select *ngIf="listStatus" [items]="listStatus" class="form-control" placeholder="Trạng thái"
                formControlName="searchStatus" (onChange)="getData()">
              </input-select>
            </div>
          </div>
          <button type="submit" [hidden]="true">Tìm kiếm</button>
        </form>
      </div>
    </div>
  </div>
  <hr class="mt-0 margin-bottom-10">
  <nz-table #basicTable [nzData]="listOfData" [nzLoading]="isLoading" [nzBordered]="true" [nzFrontPagination]="false"
    nzSize="small" [nzScroll]="{ x: true }">
    <thead>
      <tr>
        <th nzWidth="62px" nzShowCheckbox [nzChecked]="exTableService.isSelectAll(listOfData)"
          (nzCheckedChange)="exTableService.changeSelected($event, listOfData)"></th>
        <th class="text-center">STT</th>
        <th class="text-center">Tên hạng</th>
        <th class="text-center">Số sao</th>
        <th class="text-center">Số điểm</th>
        <th class="text-center">Ngày tạo</th>
        <th class="text-center">Ngày sửa</th>
        <th class="text-center">Trạng thái</th>
        <th class="action text-center">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listOfData; let i = index">
        <td nzShowCheckbox [(nzChecked)]="item.selected">
        <td class="text-center">{{i+1}}</td>
        <td>{{item.name}}</td>
        <td class="text-center">{{item.star}} sao</td>
        <td class="text-center">{{item.pointStage > 0 ? (item.pointStage | numberFormat):0}}</td>
        <td class="text-center">{{item.dataDb.createdBy}} : {{item.dataDb.createdDate | dateFormat}}</td>
        <td class="text-center">{{item.dataDb.modifiedBy}} : {{item.dataDb.modifiedDate | dateFormat}}</td>
        <td class="text-center">
          <nz-switch nz-popconfirm
            [nzPopconfirmTitle]="'Bạn có chắc chắn muốn ' + (!item.dataDb.status ? 'hiện' : 'ẩn') + ' không?'"
            [(ngModel)]="item.dataDb.status" (nzOnConfirm)="updateStatus(item, item.dataDb.status)" [nzControl]="true">
          </nz-switch>
        </td>
        <td class="text-center">
          <div class="list-icons list-icons-extended text-center">
            <a class="list-icons-item view" (click)="openModal(item, true)">
              <span nz-tooltip nzTitle="Xem">
                <i nz-icon nzType="eye" nzTheme="outline"></i>
              </span>
            </a>
            <a class="list-icons-item text-primary" href="javascript:;" (click)="openModal(item)">
              <span nz-tooltip nzTitle="Sửa">
                <i nz-icon nzType="form" nzTheme="outline"></i>
              </span>
            </a>
            <a class="list-icons-item text-danger" (click)="deleteDialog(item.id)">
              <span nz-tooltip nzTitle="Xóa">
                <i nz-icon nzType="delete" nzTheme="outline"></i>
              </span>
            </a>
          </div>
        </td>
      </tr>
      <!-- <tr class="total">
        <td colspan="6" class="text-center">Tổng :</td>
        <td colspan="1" class="text-center">{{totalcontractValue | numberFormat}}</td>
        <td colspan="1"></td>
        <td colspan="1" class="text-center">VND</td>
        <td colspan="2"></td>
      </tr> -->
    </tbody>
  </nz-table>
  <app-paging [data]="paging" (onChange)="getData($event)"></app-paging>
</div>

<nz-modal nzClassName="dialog-lg" [(nzVisible)]="isShowModalData" [nzTitle]="modalTitle" [nzContent]="modalContent"
  [nzFooter]="null" [nzMaskClosable]="false" (nzOnCancel)="isShowModalData = false; getData($event)">
  <ng-template #modalTitle>
    {{id ? (isView === true ? 'Chi tiết ' + name :' Cập nhật ' + name):' Thêm mới ' + name}}
  </ng-template>

  <ng-template #modalContent>
    <app-rank-data [item]="item" [id]="id" (cusOnClose)="closeDataModal($event)" (onAddData)="addData($event)">
    </app-rank-data>
  </ng-template>
</nz-modal>
