<!-- Page header -->
<div class="page-header page-header-light">
  <div class="page-header-content header-elements-md-inline">
    <div class="page-title d-flex">
      <h4><span class="font-weight-semibold">Forms</span> - Basic Inputs</h4>
      <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>

    <div class="header-elements d-none">
      <button type="button" class="btn btn-primary"><i class="mr-2" nz-icon nzType="plus-circle" nzTheme="outline"></i> Create</button>
      <button type="button" class="btn btn-success"><i class="mr-2" nz-icon nzType="file-excel" nzTheme="outline"></i> Import Excel</button>
    </div>
  </div>
</div>
<!-- /page header -->
