USE [TLNEnglish]
GO
/****** Object:  Table [dbo].[categoryfilm]    Script Date: 1/20/2020 9:36:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoryfilm](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[level] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[dataDb] [varchar](200) NULL,
	[pointword] [tinyint] NOT NULL,
 CONSTRAINT [PK__category__3213E83F56D10671] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[extraone]    Script Date: 1/20/2020 9:36:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[extraone](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[textquestion] [nvarchar](500) NULL,
	[textanswer] [nvarchar](500) NULL,
	[categoryfilmid] [int] NULL,
	[doubtid] [varchar](70) NULL,
	[unselectid] [varchar](70) NULL,
	[dataDb] [varchar](200) NULL,
	[urlaudioanswer] [varchar](500) NULL,
	[urlaudioquestion] [varchar](500) NULL,
	[audioquestion] [varbinary](8000) NULL,
	[audioanswer] [varbinary](8000) NULL,
 CONSTRAINT [PK__extraone__3213E83F811991BF] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[files]    Script Date: 1/20/2020 9:36:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[files](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[data] [varchar](300) NULL,
	[dataDb] [varchar](200) NULL,
	[source] [varbinary](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tips]    Script Date: 1/20/2020 9:36:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tips](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](100) NOT NULL,
	[dataDb] [varchar](200) NULL,
 CONSTRAINT [PK__tips__3213E83F188B0AF5] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 1/20/2020 9:36:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(100000,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[phone] [varchar](20) NULL,
	[password] [varchar](50) NOT NULL,
	[filmleanning] [varchar](max) NULL,
	[point] [int] NULL,
	[listfrendid] [varchar](max) NULL,
	[dataDb] [varchar](200) NULL,
 CONSTRAINT [PK__user__3213E83FFB5DF9B2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categoryfilm] ON 

INSERT [dbo].[categoryfilm] ([id], [level], [name], [dataDb], [pointword]) VALUES (1, 1, N'Extra One', N'{"status":1,"createdDate":"2020-01-09T14:29:43.6515587+07:00","createdBy":0,"modifiedDate":"2020-01-11T08:33:54.0715356+07:00","modifiedBy":0,"officeId":0}', 7)
INSERT [dbo].[categoryfilm] ([id], [level], [name], [dataDb], [pointword]) VALUES (2, 1, N'Extra Two', N'{"status":1,"createdDate":"2020-01-11T09:23:48.6327477+07:00","createdBy":0,"modifiedDate":"2020-01-11T09:48:31.8117884+07:00","modifiedBy":0,"officeId":0}', 8)
INSERT [dbo].[categoryfilm] ([id], [level], [name], [dataDb], [pointword]) VALUES (3, 2, N'Extra three', N'{"status":1,"createdDate":"2020-01-11T09:48:57.5981482+07:00","createdBy":0,"modifiedDate":"2020-01-11T10:20:40.2211859+07:00","modifiedBy":0,"officeId":0}', 9)
SET IDENTITY_INSERT [dbo].[categoryfilm] OFF
SET IDENTITY_INSERT [dbo].[tips] ON 

INSERT [dbo].[tips] ([id], [content], [dataDb]) VALUES (1, N'Hành trình vạn dặm bắt đầu từ một bước chân', N'{"status":1,"createdDate":"2020-01-15T07:29:22.2480772+07:00","createdBy":0,"officeId":0}')
SET IDENTITY_INSERT [dbo].[tips] OFF
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id], [name], [email], [phone], [password], [filmleanning], [point], [listfrendid], [dataDb]) VALUES (100002, N'string', N'string', N'string', N'string', N'[{"namefilm":"string","positionword":0}]', 0, N'[0]', N'{"status":1,"createdDate":"2020-01-13T23:36:32.5082886+07:00","createdBy":0,"modifiedDate":"2020-01-15T07:11:39.0736207+07:00","modifiedBy":0,"officeId":0}')
INSERT [dbo].[user] ([id], [name], [email], [phone], [password], [filmleanning], [point], [listfrendid], [dataDb]) VALUES (100003, N'Tinh', N'tinh@gmail.com', N'0963502705', N'tinh123', NULL, NULL, N'[3,2,1]', N'{"status":1,"createdDate":"2020-01-15T07:12:19.8683665+07:00","createdBy":0,"officeId":0}')
SET IDENTITY_INSERT [dbo].[user] OFF
