<div class="page-content">
  <div class="col-3">

    <app-menu class="sidebar-light"></app-menu>

  </div>
  <div class="col-9 listfilm">
    <div class="row">
      <div class="film">
        <a [routerLink]="['/extra-1']">
          <div class="border1">
            <div class="border2">
              <div class="row ">
                <div class="col-4 anh align-items-center">
                  <img
                    src="https://lh5.googleusercontent.com/proxy/GZ-c_XCTTvqsdB9teczbK-tkQepM3PHbhuFPVes1EGpAiLG-mTw5H8DIzLDwnO3V1r2not_S93wKwO_7g7ed7nNkVOJy19wS31u_8PfXO-PQlFQ"
                    alt="" width="100%" class="image">
                </div>
                <div class="col-8 content">
                  <h1>Extra 1 (English)</h1>
                  <p>Nội dung phim xoay quanh cuộc sống của Nick, Bridget, Hector và Annie. Câu chuyện bắt đầu từ lúc
                    Hector
                    từ
                    Agentina đến sống với Bridget tại nước Anh. Hector là một người có vốn tiếng Anh rất “khiêm tốn” nên
                    cậu
                    ta
                    cần
                    tìm những người bạn thực thụ và học tiếng Anh từ họ, chính vì vậy, 3 người bạn cậu ta phải rất vất
                    vả để
                    dạy
                    Hector học tiếng Anh.
                  </p>
                  <div class="lever align-items-end">
                    <span class="numberuser"><i>1.256 ng dùng</i></span>
                    <span class="numberuser"><b><i>300 câu</i></b></span>
                    <div class="rec rechasbg"></div>
                    <div class="rec rechasbg"></div>
                    <div class="rec rechasbg"></div>
                    <div class="rec rechasbg"></div>
                    <div class="rec recnohasbg"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="film">
        <a href="#" class="a">
          <div class="border1">
            <div class="border2">
              <div class="row ">
                <div class="col-4 anh align-items-center">
                  <img
                    src="https://lh5.googleusercontent.com/proxy/GZ-c_XCTTvqsdB9teczbK-tkQepM3PHbhuFPVes1EGpAiLG-mTw5H8DIzLDwnO3V1r2not_S93wKwO_7g7ed7nNkVOJy19wS31u_8PfXO-PQlFQ"
                    alt="" width="100%" class="image">
                </div>
                <div class="col-8 content">
                  <h1>Extra 1 (English)</h1>
                  <p>Nội dung phim xoay quanh cuộc sống của Nick, Bridget, Hector và Annie. Câu chuyện bắt đầu từ lúc
                    Hector
                    từ
                    Agentina đến sống với Bridget tại nước Anh. Hector là một người có vốn tiếng Anh rất “khiêm tốn” nên
                    cậu
                    ta
                    cần
                    tìm những người bạn thực thụ và học tiếng Anh từ họ, chính vì vậy, 3 người bạn cậu ta phải rất vất
                    vả để
                    dạy
                    Hector học tiếng Anh.
                  </p>
                  <div class="lever align-items-end">
                    <span class="numberuser"><i>1.256 ng dùng</i></span>
                    <span class="numberuser"><b><i>300 câu</i></b></span>
                    <div class="rec rechasbg"></div>
                    <div class="rec rechasbg"></div>
                    <div class="rec rechasbg"></div>
                    <div class="rec rechasbg"></div>
                    <div class="rec recnohasbg"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="film">
        <a href="#" class="a">
          <div class="border1">
            <div class="border2">
              <div class="row ">
                <div class="col-4 anh align-items-center">
                  <img
                    src="https://lh5.googleusercontent.com/proxy/GZ-c_XCTTvqsdB9teczbK-tkQepM3PHbhuFPVes1EGpAiLG-mTw5H8DIzLDwnO3V1r2not_S93wKwO_7g7ed7nNkVOJy19wS31u_8PfXO-PQlFQ"
                    alt="" width="100%" class="image">
                </div>
                <div class="col-8 content">
                  <h1>Extra 1 (English)</h1>
                  <p>Nội dung phim xoay quanh cuộc sống của Nick, Bridget, Hector và Annie. Câu chuyện bắt đầu từ lúc
                    Hector
                    từ
                    Agentina đến sống với Bridget tại nước Anh. Hector là một người có vốn tiếng Anh rất “khiêm tốn” nên
                    cậu
                    ta
                    cần
                    tìm những người bạn thực thụ và học tiếng Anh từ họ, chính vì vậy, 3 người bạn cậu ta phải rất vất
                    vả để
                    dạy
                    Hector học tiếng Anh.
                  </p>
                  <div class="lever align-items-end">
                    <span class="numberuser"><i>1.256 ng dùng</i></span>
                    <span class="numberuser"><b><i>300 câu</i></b></span>
                    <div class="rec rechasbg"></div>
                    <div class="rec rechasbg"></div>
                    <div class="rec rechasbg"></div>
                    <div class="rec rechasbg"></div>
                    <div class="rec recnohasbg"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
