<div class="container mt-4">
  <div class="row justify-content-end">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p>{{count}}</p>
    <p><b>Câu: 2/10 &nbsp;</b> <span>Tổng: 256/321 đã học</span></p>
  </div>


  <div class="row">
    <div class="col-4 d-flex align-items-center question">
      <!-- <iframe width="100%" height="315" src="https://www.youtube.com/embed/50VNCymT-Cs" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
      <p> 2) I am hector, i from achentina, I am hector, i from achentina, I am hector, i from achentina</p>
    </div>
    <div class="col-8">
      <div class="row justify-content-end">
        <div class="col col-lg-5 answer mr-2 mb-2">
          <i class="icon-volume-medium"></i>
          <div class="check">
            <input type="checkbox" value="None" id="squaredOne" name="check" />
            <label for="squaredOne"></label>
          </div>
          <p> &nbsp; a) Tôi là Hector Tôi là Hector Tôi là Hector Tôi là Hector Tôi là Hector Tôi là Hector Tôi là
            Hector Tôi
            là Hector
            Tôi là Hector Tôi là Hector Tôi là Hector Tôi là Hector
          </p>
        </div>
        <div class="col col-lg-5 answer mb-2">
          <i class="icon-volume-medium"></i>
          <div class="check">
            <input type="checkbox" value="None" id="squaredTwo" name="check" />
            <label for="squaredTwo"></label>
          </div>
          <p> &nbsp; b) Tôi là Hector Tôi là Hector Tôi là Hector Tôi là Hector Tôi là Hector Tôi là Hector Tôi là
            Hector Tôi là
            Hector
          </p>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col col-lg-5 answer mr-2">
          <i class="icon-volume-medium"></i>
          <div class="check">
            <input type="checkbox" value="None" id="squaredThree" name="check" />
            <label for="squaredThree"></label>
          </div>
          <p> &nbsp; c) Tôi là Hector Tôi là Hector Tôi là Hector Tôi là Hector Tôi là Hector Tôi là Hector Tôi là
          </p>
        </div>
        <div class="col col-lg-5 answer">
          <i class="icon-volume-medium"></i>
          <div class="check">
            <input type="checkbox" value="None" id="squaredFour" name="check" />
            <label for="squaredFour"></label>
          </div>
          <p> &nbsp; d) Tôi là Hector Tôi là Hector Tôi là Hector Tôi là
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
