<div class="container mt-4" *ngIf="datalist.length > 0">
  <div class="row justify-content-end">
    <!-- <div class="progress mr-3">
      <div class="progress-bar" [style.width]="extran" role="progressbar" aria-valuenow="60" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div> -->
    <p><b>Câu: {{wordNumber+1}}/{{datalist.length}} &nbsp;</b> <span>Tổng: {{sttleaned}}/{{totalWord}} đã học</span></p>
  </div>


  <div class="row" id="tinh">
    <div class="col-12 d-flex align-items-center flex-column question mb-4">
      <!-- <iframe (load)="daloadxong()" [src]="datalist[wordNumber].result[5]" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

      <div class="video" (click)="reloadvideo()">
        <img id="imgplay" src="../../../assets/images/play.png" hidden>
        <video (loadstart)="daloadxong()" id="myVideo" (ended)="videoketthuc()">
          <source [src]="datalist[wordNumber].result[5]" type="video/mp4">
        </video>
      </div>



      <p class="btn btn-secondary mt-2" *ngIf="datalist[wordNumber].textshow">
        {{datalist[wordNumber].texttip}}</p>
      <!-- <p class="btn btn-secondary mt-2" (click)="hiengoiy()" *ngIf="!isshow">Show</p> -->
      <p class="totalSentenceRight">{{ totalSentenceRight }} câu</p>
      <div class="boqua">
        <div class="speedvideo pb-2">
          <nz-input-number class="hover" [(ngModel)]="speedValueVideo" [nzMin]="0.5" [nzMax]="2" [nzStep]="0.05"
            nzPlaceHolder="Digital" (ngModelChange)="changeSpeedVideo($event)">
          </nz-input-number>
          <div class="speedvideoangtip" id="tooltip">
            <p>1.5x</p>
            <span class="span" id="tooltip-span">
              Nếu bạn là người mới bắt đầu nên để 0,8-0,9x
            </span>
          </div>
        </div>
        <a [routerLink]="['/finish-cours', idfilmComponent, 0]" class="btn btn-sm justify-content-center">Hủy
          <i class="fas fa-times"></i>
        </a>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <div class="answer">
            <input type="radio" id="1" name="gender" value="0"
              (click)="kiemtraketqua($event.target, datalist[wordNumber].key, 'check01', 'check02')" hidden>
            <label for="1"><b>A. </b> {{datalist[wordNumber].result[0]}} </label><br>
            <i class="fa-3x fa-check text-success" *ngIf="datalist[wordNumber].key==0" id="check01"></i>
            <i class="fa-3x fa-times text-danger" *ngIf="datalist[wordNumber].key!=0" id="check02"></i>
          </div>
        </div>
        <div class="col-6">
          <div class="answer">
            <input type="radio" id="2" name="gender" value="1"
              (click)="kiemtraketqua($event.target, datalist[wordNumber].key, 'check11', 'check12')">
            <label for="2"><b>B. </b> {{datalist[wordNumber].result[1]}}</label><br>
            <i class="fa-3x fa-check text-success" *ngIf="datalist[wordNumber].key==1" id="check11"></i>
            <i class="fa-3x fa-times text-danger" *ngIf="datalist[wordNumber].key!=1" id="check12"></i>
          </div>
        </div>
      </div>
      <div class="row nopadding">
        <div class="col-6">
          <div class="answer">
            <input type="radio" id="3" name="gender" value="2"
              (click)="kiemtraketqua($event.target, datalist[wordNumber].key,'check21', 'check22')">
            <label for="3"><b>C. </b>{{datalist[wordNumber].result[2]}}</label>
            <i class="fa-3x fa-check text-success" *ngIf="datalist[wordNumber].key==2" id="check21"></i>
            <i class="fa-3x fa-times text-danger" *ngIf="datalist[wordNumber].key!=2" id="check22"></i>
          </div>
        </div>
        <div class="col-6">
          <div class="answer">
            <input type="radio" id="4" name="gender" value="3"
              (click)="kiemtraketqua($event.target, datalist[wordNumber].key,'check31', 'check32')">
            <label for="4"><b>D. </b> {{datalist[wordNumber].result[3]}}</label>
            <i class="fa-3x fa-check text-success" *ngIf="datalist[wordNumber].key==3" id="check31"></i>
            <i class="fa-3x fa-times text-danger" *ngIf="datalist[wordNumber].key!=3" id="check32"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--
<h1 (click)="kiemtra(1)">click me</h1>


<h1 id="logo" class="run-animation">
  Fancy Text (click to restart)
</h1> -->
