.container {
  .progress {
    width: 800px;
    transform: rotate(180deg);

    .progress-bar {
      transition: none;
    }
  }


  .question {
    p {
      font-size: 17px;
      margin: 0;
      font-weight: 400;
      cursor: pointer;
      line-height: 13px;
    }
    iframe{
      min-height: 300px;
      min-width: 485px;
    }

    .totalSentenceRight{
      position: absolute;
      top: 2em;
      right: 1em;
      font-size: 20px;
      font-family: cursive;

      a{
        font-size: 20px;
        background-color: 1fd446;
        border-radius: 120px;
        border: none;
        background-image: linear-gradient(90deg, #41fb419e, #9dff42);
      }
    }
    .boqua{
      position: absolute;
      bottom: 0em;
      right: 1em;

      a{
        font-size: 17px;
        background-color: #f33a21bd;
      }
    }
  }

  .left {
    margin-right: 5px;
  }


  .answer {
    height: 150px;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    position: relative;
    padding-bottom: 10px !important;

    input[type='radio'] {
      display: none;

    }

    .fas {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation-name: danhdau;
      animation-duration: 1s;
      opacity: 0;
    }

    @keyframes danhdau {
      1%  { opacity: 1;}
      90%   { opacity: 1;}
      100%  { opacity: 0;}
    }

    label {
      width: 100%;
      height: 100%;
      font-size: 23px;
      background-color: #cacdd0;
      cursor: pointer;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px 20px;
    }
  }
}

label:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
    0 1px 10px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;

  background-color: #85d290 !important;

}


.pclass{
  animation-name: danhdau;
  animation-duration: 2s;
  opacity: 0;

  @keyframes danhdau {
    1%  { opacity: 1;}
    70%   { opacity: 1;}
    100%  { opacity: 0;}
  }
}



///tét
@keyframes my-animation {
  from {
    opacity : 0;
    left : -500px;
  }
  to {
    opacity : 1;
    left : 0;
  }
}

.run-animation {
  position: relative;
  animation: my-animation 2s ease;
}

#logo {
  text-align: center;
  font-family : Palatino Linotype, Book Antiqua, Palatino, serif;
}
