.container{
  .progress{
    width: 400px;

    .progress-bar{
      transition: none;
    }
  }


  .question{
    p{
      font-size: 24px;
      font-weight: 400;
    }
  }

  .left{
    margin-right: 5px;
  }

  .answer{
    background-color: greenyellow;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 10px;

    label{
      font-size: 20px;
      font-family: roboto;
    }
  }
}

.answer:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
    0 1px 10px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
}


