<!-- Main navbar -->
<div class="navbar navbar-expand-md navbar-dark bg-blue-800">
  <div class="navbar-brand">
    <!-- <a href="http://www.ct-in.com.vn" class="d-inline-block">
      <img src="http://ctin.vn/sites/default/files/ctin-logo5.jpg" alt="">
    </a> -->
    TLNEnglish-Admin
  </div>

  <div class="d-md-none">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
      <i class="icon-tree5"></i>
    </button>
    <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
      <i class="icon-paragraph-justify3"></i>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbar-mobile">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
          <i class="icon-paragraph-justify3"></i>
        </a>
      </li>
    </ul>

    <span class="badge bg-success ml-md-3 mr-md-auto">Online</span>

    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
          <i class="icon-make-group"></i>
          <span class="ml-2">Chi nhánh chính</span>
        </a>

        <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-300">
          <div class="dropdown-content-body dropdown-scrollable">
            <ul class="media-list">
              <li class="media">
                <div class="mr-3">
                  <img src="assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle"
                    alt="">
                </div>
                <div class="media-body">
                  <a href="#" class="media-title font-weight-semibold">Chi nhánh chính</a>
                  <span class="d-block text-muted font-size-sm">hồng mai hà nội</span>
                </div>
                <div class="ml-3 align-self-center"><span class="badge badge-mark border-success"></span></div>
              </li>

              <li class="media">
                <div class="mr-3">
                  <img src="assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle"
                    alt="">
                </div>
                <div class="media-body">
                  <a href="#" class="media-title font-weight-semibold">Chi nhánh HCM</a>
                  <span class="d-block text-muted font-size-sm">Quận tân bình</span>
                </div>
                <div class="ml-3 align-self-center"><span class="badge badge-mark border-danger"></span></div>
              </li>

              <li class="media">
                <div class="mr-3">
                  <img src="assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle"
                    alt="">
                </div>
                <div class="media-body">
                  <a href="#" class="media-title font-weight-semibold">Chi nhánh đà nẵng</a>
                  <span class="d-block text-muted font-size-sm">quận 2</span>
                </div>
                <div class="ml-3 align-self-center"><span class="badge badge-mark border-success"></span></div>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
          <i class="icon-bubbles4"></i>
          <span class="d-md-none ml-2">Thông báo</span>
          <span class="badge badge-pill bg-warning-400 ml-auto ml-md-0">2</span>
        </a>

        <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
          <div class="dropdown-content-header">
            <span class="font-weight-semibold">Thông báo</span>
            <a href="#" class="text-default"><i class="icon-compose"></i></a>
          </div>

          <div class="dropdown-content-body dropdown-scrollable">
            <ul class="media-list">
              <li class="media">
                <div class="mr-3 position-relative">
                  <img src="assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle"
                    alt="">
                </div>

                <div class="media-body">
                  <div class="media-title">
                    <a href="#">
                      <span class="font-weight-semibold">Nguyễn Văn Lâm</span>
                      <span class="text-muted float-right font-size-sm">04:58</span>
                    </a>
                  </div>

                  <span class="text-muted">Được thêm vào lịch phỏng vấn lúc 11/11/2019 14:30</span>
                </div>
              </li>

              <li class="media">
                <div class="mr-3 position-relative">
                  <img src="assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle"
                    alt="">
                </div>

                <div class="media-body">
                  <div class="media-title">
                    <a href="#">
                      <span class="font-weight-semibold">Ngô Thị Nga</span>
                      <span class="text-muted float-right font-size-sm">12:16</span>
                    </a>
                  </div>

                  <span class="text-muted">Sắp hết hạn hợp động tại thời điểm 1/1/2020</span>
                </div>
              </li>
            </ul>
          </div>

          <div class="dropdown-content-footer justify-content-center p-0">
            <a href="#" class="bg-light text-grey w-100 py-2" data-popup="tooltip" title="Load more"><i
                class="icon-menu7 d-block top-0"></i></a>
          </div>
        </div>
      </li>

      <li class="nav-item dropdown dropdown-user">
        <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
          <img src="assets/images/placeholders/placeholder.jpg" class="rounded-circle mr-2" height="34" alt="">
          <span>{{ userName | async }}</span>
        </a>

        <div class="dropdown-menu dropdown-menu-right">
          <a href="#" class="dropdown-item"><i class="icon-user-plus"></i> Thông tin tài khoản</a>
          <div class="dropdown-divider"></div>
          <a [routerLink]='["/authentication/logout"]' [state]='{ local: true }' routerLinkActive="router-link-active"
            class="dropdown-item"><i class="icon-switch2"></i> Đăng xuất</a>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- /main navbar -->
