.navbar-brand{
    font-size: 16px;
    line-height: 24px;

    a{
      background-color: aliceblue;
      padding: 5px;
      border-radius: 15px 0px;
      color: #000000;
    }
}
.navbar{
  border-radius: 0px 30px 0px 30px;
}

.navbar-nav-link:hover{
  background-color: inherit;
}

.navbar-collapse{
  .lever{
    i{
      font-size: 30px;
    }
  }
}

.navbar-nav{
  .message{
    position: relative;
    overflow: visible;

    .badge{
      position: absolute;
      top:-3px;
      left: 24px;
    }
  }

  .message1{
    position: relative;
    overflow: visible;

    .badge{
      top: 0px;
      left: 38px;
      width: 20px;
      height: 20px;
    }
  }
}

.dropdown-user .navbar-nav-link>span{
  padding-top: 5px;
  padding-bottom: 5px;
}
