<!-- Main navbar -->
<div class="navbar navbar-expand-md navbar-dark bg-blue-800">
  <div class="dropdown-user">
    <a [routerLink]="['/']">
      <div class="mr-1 navbar-nav-link" style="padding:0 20px 0 5px">
        <img src="assets/images/anhbonen.png" width="36" alt="">
      </div>
    </a>
  </div>
  <div class="navbar-brand">
    TLNEnglish
  </div>



  <div class="collapse navbar-collapse" id="navbar-mobile">
    <div class="mr-md-auto"></div>

    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
          <i class="icon-bubbles4"></i>
          <span class="d-md-none ml-2">Thông báo</span>
          <span class="badge badge-pill bg-warning-400 ml-auto ml-md-0">2</span>
        </a>

        <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
          <div class="dropdown-content-header">
            <span class="font-weight-semibold">Thông báo</span>
            <a href="#" class="text-default"><i class="icon-compose"></i></a>
          </div>

          <div class="dropdown-content-body dropdown-scrollable">
            <ul class="media-list">
              <li class="media">
                <div class="mr-3 position-relative">
                  <img src="assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle"
                    alt="">
                </div>

                <div class="media-body">
                  <div class="media-title">
                    <a href="#">
                      <span class="font-weight-semibold">Nguyễn Văn Lâm</span>
                      <span class="text-muted float-right font-size-sm">04:58</span>
                    </a>
                  </div>

                  <span class="text-muted">Được thêm vào lịch phỏng vấn lúc 11/11/2019 14:30</span>
                </div>
              </li>

              <li class="media">
                <div class="mr-3 position-relative">
                  <img src="assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle"
                    alt="">
                </div>

                <div class="media-body">
                  <div class="media-title">
                    <a href="#">
                      <span class="font-weight-semibold">Ngô Thị Nga</span>
                      <span class="text-muted float-right font-size-sm">12:16</span>
                    </a>
                  </div>

                  <span class="text-muted">Sắp hết hạn hợp động tại thời điểm 1/1/2020</span>
                </div>
              </li>
            </ul>
          </div>

          <div class="dropdown-content-footer justify-content-center p-0">
            <a href="#" class="bg-light text-grey w-100 py-2" data-popup="tooltip" title="Load more"><i
                class="icon-menu7 d-block top-0"></i></a>
          </div>
        </div>
      </li>

      <li class="nav-item dropdown dropdown-user">
        <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
          <img
            src="https://scontent.fhan5-6.fna.fbcdn.net/v/t1.0-9/80473028_1222224831307257_8021627491510648832_n.jpg?_nc_cat=105&_nc_ohc=ToCVyS_1DnsAX-z5xKG&_nc_ht=scontent.fhan5-6.fna&oh=7401eb9038e47060d98b1f7002c61679&oe=5EC683BC"
            class="rounded-circle mr-2" height="34" alt="">
          <span>Vũ Văn Tỉnh{{ userName | async }}</span>
        </a>

        <div class="dropdown-menu dropdown-menu-right">
          <a href="#" class="dropdown-item"><i class="icon-user-plus"></i> Thông tin tài khoản</a>
          <div class="dropdown-divider"></div>
          <a [routerLink]='["/authentication/logout"]' [state]='{ local: true }' routerLinkActive="router-link-active"
            class="dropdown-item"><i class="icon-switch2"></i> Đăng xuất</a>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- /main navbar -->
