<div class="total mt-4">
  <div class="information d-flex align-items-center">
    <div class="row d-flex align-items-center">
      <div class="col-6 cup">
        <span class="addpoint" id="addpoint" *ngIf="totalPointRight>0">{{num}}</span>
        <i class="icon-trophy2 d-flex justify-content-center"></i>
        <p class="point" id="point">{{show}}đ</p>
        <div class="star d-flex justify-content-center">
          <span *ngFor="let i of startYeelow">
            <span class="fa fa-star checked" style='font-size:24px'></span>
          </span>
          <span *ngFor="let i of startnon">
            <span class="fa fa-star"></span>
          </span>
        </div>
        <p>Bạn cần {{pointNeedForNextLever}} điểm để tăng sao</p>
        <p class="stage d-flex justify-content-center mt-1">{{namerank | async}}</p>
      </div>
      <div class="col-6 user d-flex align-items-center">
        <div class="image">
          <img [src]="avatar | async" alt="">
        </div>
        <div class="text d-flex flex-column ml-2">
          <h2>{{fullName | async}}</h2>
          <p>{{address | async}}</p>
          <p>Hạng : Chưa xếp hạng</p>
        </div>
      </div>
    </div>
  </div>
  <div class="hoctiep d-flex justify-content-center mt-3" *ngIf="finishload">
    <a [routerLink]="['/leanning-words','new', idfilm]" class="btn btn-sm btn-primary justify-content-center">
      Học tiếp <i class="fas fa-angle-right next"></i>
    </a>
    <a [routerLink]="['/leanning-words','old', idfilm]"
      class="btn btn-sm btn-primary ml-3 justify-content-center forget">
      Học từ đã quên <i class="fas fa-angle-right next"></i>
    </a>
  </div>
  <div class="leand mb-3 mt-2">
    <div class="row">
      <div class="col-md-4 col-12 mb-1" *ngFor="let item of data; let i = index ">
        <div [ngClass]="che(i+1+((paging.page-1) * paging.size))"></div>
        <div class="content" [ngClass]="checkclass(i+((paging.page-1) * paging.size)+1)">
          <p *ngIf="(i+((paging.page-1) * paging.size)) < (sttWordLenning)">{{item.stt}}. {{item.textEn}}</p>
          <i class="fas fa-question question" *ngIf="i+((paging.page-1) * paging.size) > (sttWordLenning-1)"></i>
        </div>
      </div>
    </div>
  </div>

  <app-paging [data]="paging" (onChange)="getData($event)"></app-paging>
</div>
