<div class="total mt-4">
  <app-profile></app-profile>
  <div class="hoctiep d-flex justify-content-center mt-3">
    <a [routerLink]="['/leanning-words','new', idfilmComponent]" class="btn btn-sm btn-primary justify-content-center">
      Học tiếp <i class="fas fa-angle-right next"></i>
    </a>
    <a [routerLink]="['/leanning-words','old', idfilmComponent]"
      class="btn btn-sm btn-primary ml-3 justify-content-center forget">
      Học từ đã quên <i class="fas fa-angle-right next"></i>
    </a>
  </div>
  <div class="leand mb-3 mt-2">
    <div class="row">
      <div class="col-md-4 col-12 mb-1" *ngFor="let item of data; let i = index ">
        <div [ngClass]="che(i+1+((paging.page-1) * paging.size))"></div>
        <div class="content" [ngClass]="checkclass(i+((paging.page-1) * paging.size)+1)">
          <p *ngIf="(i+((paging.page-1) * paging.size)) < (sttWordLenningComponent)">{{item.stt}}. {{item.textEn}}</p>
          <i class="fas fa-question question"
            *ngIf="i+((paging.page-1) * paging.size) > (sttWordLenningComponent-1)"></i>
        </div>
      </div>
    </div>
  </div>

  <app-paging [data]="paging" (onChange)="getData($event)"></app-paging>
</div>
