
.hoctiep {
  a {
    font-size: 20px;
    background-color: 1fd446;
    border-radius: 120px;
    border: none;
    background-image: linear-gradient(90deg, #5de424, #3ab307);
  }

  .forget {
    background-image: linear-gradient(90deg, #f79831, #da3b0f);
  }
}

.leand {
  .contenta {
    background-color: #41fb419e;
    background-image: linear-gradient(90deg, #41fb419e, #9dff42);
    border-radius: 100px;

    p {
      margin: 0;
      font-size: 1em;
    }

  }

  .contentb {
    background-color: #d9d9d980;
    border-radius: 100px;
    height: 61px;

    p {
      margin: 0;
      font-size: 1em;
    }
  }

  .question {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 17px);
    font-size: 23px;
    color: #b5b5b5;
  }


  .che1 {
    width: 0%;
    height: 0%;
    right: 0;
    position: absolute;
    background-color: #fdf8e1;
    animation-name: chenoidung;
    animation-duration: 4s;
    animation-delay: -2s;
  }

  @keyframes chenoidung {
    50% {
      width: 100%;
      height: 100%;
    }

    100% {
      width: 0%;
      height: 100%;
    }
  }
}
