<div class="information d-flex align-items-center">
  <div class="row d-flex align-items-center">
    <div class="col-6 cup">
      <span class="addpoint" id="addpoint" *ngIf="totalPointRight>0">{{num}}</span>
      <i class="icon-trophy2 d-flex justify-content-center"></i>
      <p class="point" id="point">{{show}}đ</p>
      <div class="star d-flex justify-content-center">
        <span *ngFor="let i of startYeelow">
          <span class="fa fa-star checked" style='font-size:24px'></span>
        </span>
        <span *ngFor="let i of startnon">
          <span class="fa fa-star"></span>
        </span>
      </div>
      <div class="d-flex justify-content-center mt-1" id="tooltip">
        <div class="progress d-flex justify-content-end" (mousemove)="OpenTooltips($event)">
          <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': processing + '%'}"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <span class="span" id="tooltip-span">Bạn cần {{pointNeedForNextLever}} điểm để thêm 1 sao</span>
      </div>
      <p class="stage d-flex justify-content-center mt-1" style="color: #f63a1d;">{{namerank | async}}</p>
    </div>
    <div class="col-6 user d-flex align-items-center">
      <div class="image" (click)="clickSelector('editavatar')">
        <img [src]="avatar | async" alt="TLNEnglish">
        <i class="far fa-edit ml-2"></i>
      </div>
      <input type="file" hidden id="editavatar" name="fileAvatar" (change)="changeAvatarAndAddress($event)"
        accept="image/jpg, image/gif, image/png, image/jpeg, image/raw">
      <div class="text d-flex flex-column ml-2">
        <h2>{{fullName | async}}</h2>
        <p class="address" *ngIf="!isShowEditUser">{{address | async}}<i class="far fa-edit ml-2"
            (click)="isShowFormUser()"></i></p>
        <div class="edituser d-flex align-items-center" *ngIf="isShowEditUser">
          <input class="w3-input" type="text" class="formUser" name="editUser" (change)="getEditUser($event)">
          <i class="fas fa-save pl-2 flex-fill" (click)="offAndChangeAdress()"></i>
          <i class="fas fa-window-close pl-2 flex-fill" (click)="isShowFormUser()"></i>
        </div>
        <p>Hạng : Chưa xếp hạng</p>
      </div>
    </div>
  </div>
</div>
