/* You can add global styles to this file, and also import other style files */
.cdk-global-scrollblock {
  overflow: unset;
}

.radius-0 {
  border-radius: 0;
}

.page-title {
  padding: 15px 0;
}

.header-elements {
  >.btn {
    margin-left: 7px;
  }
}

.ant-collapse-header {
  line-height: 10px !important;
}

.ant-collapse-header {
  &[aria-expanded="true"] {
    background-color: #4b97df;
    color: white !important;
    font-weight: 600;
  }
}

.btn {
  padding: 5px 8px;
}

[nz-icon] {
  vertical-align: 1px;
}

.form-group {
  margin-bottom: 15px;

  label {
    font-weight: 500;
    font-size: 13px;
  }

  &>input {
    width: calc(100% - 120px);
  }
}

.form-control {
  height: 32px;
  padding: 4px 11px;

  &.ant-input-number {
    padding: unset;
  }
}

.padding-left-15 {
  padding-left: 15px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.content-wrapper {
  >.content-body {
    flex-grow: 1;
  }
}

.table {

  th,
  tr {
    padding: 6px 10px;
    color: #6c7680;
  }

  thead {
    th {
      background-color: #f2f5f7;
      font-weight: 700;

      &.action {
        width: 110px;
      }
    }
  }
}

.display-flex {
  display: flex;
}

.ant-modal-close {
  &:focus {
    outline: none;
  }
}

// nz-input-number{
//   padding: 0px !important;
//   .ant-input-number-handler-wrap{
//     right: 11px;
//     height: 30px;
//     top: 27px;
//     opacity: 0.5;
//   }
// }

.page-content {
  min-height: calc(100vh - 50px);
}

nz-form-label {
  label {
    margin-bottom: unset;
  }
}

.custom-control {
  padding: 0;
}

.ant-table-fixed {
  thead {
    tr {
      th {
        background-color: #f5f5f5 !important;

        &.stt {
          width: 63px !important;
          text-align: center;
        }

        &.action {
          width: 130px !important;
          text-align: center;
        }
      }
    }
  }
}

form[nz-form] {
  nz-form-label {
    text-align: left;
  }
}

nz-date-picker.w-100 {
  span.ant-calendar-picker {
    width: 100%;
  }
}

.sidebar-main {
  font-size: 14px;
}

//bold font label modal
.control-inline {
  font-weight: 600;
}

//style pagination to the middle
.style-paging {
  display: flex;
  justify-content: center;
}

// màu cho tittle phần project
.ant-table-tbody .title {
  background-color: #f7f7f7;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600 !important;
}

.ant-table-fixed thead tr th {
  background-color: #ececec !important;

}

.close-text {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.open-text {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

legend {
  font-weight: 700 !important;
}

.page-title {
  span.font-weight-semibold {
    display: inline-block;

    &::first-letter {
      text-transform: uppercase !important;
    }
  }
}

.ant-table-tbody .total {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600 !important;
}

//style accordion
.accordion {
  legend {
    cursor: pointer;

    &:not(.collapsed) {
      i {
        transform: rotate(90deg);
      }

      &:not(.text-danger-300) {
        color: #1890ff;
        border-bottom-color: #63b1f9;
      }

      &.text-danger-300 {
        border-bottom-color: #e57373;
      }
    }

    &:hover {
      color: #1890ff !important;
    }
  }
}

.tr-danger {
  td {
    background-color: #ffd5d780 !important;

  }
}

.progress {
  &.zero {
    border: 1px solid red !important;
    background: #f1a3a3 !important;
  }

  span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: black;

  }
}

.text-danger-300 {
  color: #e57373 !important;
  font-weight: 500;
}
